* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans', Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  width: 100%;
  min-height: 700px;
  padding: 0 32px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.8) 100%), url("./img/header-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  height: 86px;
  padding: 10px 0;
  margin: auto;
}

@media (max-width: 368px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
}

.navbar__logo {
  display: block;
  width: 150px;
  cursor: pointer;
  color: rgb(229, 9, 20);
  fill: currentColor;
}

.navbar__container {
  display: flex;
  align-items: center;
}

.lang-btn {
  display: flex;
  place-items: center;
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.7);
  background: transparent;
  border-radius: 4px;
  margin-right: 25px;
  min-height: 30px;
  text-align: center;
  z-index: 3;
}

.lang-btn select {
  appearance: none;
  border: 0;
  min-width: auto;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  display: inline-flex;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.7);
  padding: 6px 10px;
}

.btn-secondary {
  outline: 0;
  border: 0;
  padding: 7px 20px;
  background: #db0001;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btn-secondary:hover {
  background: rgb(193, 17, 25);
}

.btn {
  display: inline-flex;
  margin-left: 8px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 20px;
}

.navbar__down-icon {
  position: absolute;
  right: 5px;
  margin-left: 15px;
  z-index: -1;
}

.navbar__lang-icon {
  position: absolute;
  left: 7px;
}

.navbar__login-btn {
  margin-left: 10px;
  height: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  line-height: 60px;
  margin: 80px 0 0;
  min-height: 500px;
}

.header__heading {
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
}

.header__sub {
  font-size: 1.5rem;
  font-weight: 400;
}

.header_paragraph {
  margin: 1.25rem 0 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form__input {
  display: inline-flex;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  width: 350px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.7);
  transition: border 0.2s ease-in-out;
  position: relative;
}

.form__input::placeholder {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 16px;
  transition: transform 0.2s ease-out;
}

.form__input:focus::placeholder {
  transform: translateY(-100%) scale(1);
  font-size: 13px;
  margin-bottom: 10px;
}

.form__input:focus {
  border: 1px solid #fff;
}

.divider {
  width: 100%;
  height: 0.5rem;
  background-color: rgb(35, 35, 35);
}


/* ------ features ------ */

.features {
  display: flex;
  place-items: center;
  flex-direction: row;
  margin: auto;
  width: 100%;
  padding: 4.5rem 12%;
}

.features__content {
  display: flex;
  place-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(1080px + 12%);
  margin: auto;
  padding: 50px 0;
}

@media (max-width: 768px) {
  .features__content {
    flex-direction: column;
  }
}

.features__description {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  line-height: 1.25;
}

.features__heading {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.features__sub {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.features__image-container {
  flex-basis: 50%;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.features__image {
  width: 100%;
  margin: auto;
  position: relative;
}

.features__video {
  z-index: -2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.features__gif-container {
  position: absolute;
  top: 66%;
  left: 69%;
  width: 100px;
  height: 100px;
  max-width: 50px;
  max-height: 50px;
  background: url("./img/download-icon.gif") no-repeat center center;
  overflow: hidden;
}

.features__devices-video {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 63%;
  max-height: 47%;
  position: absolute;
  top: 34%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*----------faq------------*/
.faq {
  text-align: center;
  font-size: 18px;
  padding: 2.5rem 12%;
}

.faq__heading {
  font-size: 2.5em;
  font-weight: 900;
}

.faq__accordion {
  margin: 2rem auto;
  width: 100%;
  max-width: 1080px;
}

.faq__item {
  list-style: none;
  width: 100%;
  text-indent: 0;
  margin: 0 0 0.5rem 0;
}

.faq__btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px;
  margin-bottom: 1px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  background: rgb(45, 45, 45);
  border: none;
  outline: none;
  position: relative;
  transition: all ease-in-out .3s
}

.faq__btn::after {
  content: "+";
  position: absolute;
  font-size: 4rem;
  font-weight: 200;
  right: 2rem;
  transition: transform 0.25s linear;
}

.faq__accordion input[type="radio"] {
  display: none;
}

.faq__content {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: rgb(45, 45, 45);
  line-height: 1.25;
  max-height: 0; /* hide content */
  overflow: hidden;
  padding: 0 30px;
  transition: max-height 0.5s ease-in-out, padding 0.5s, background-color 0.1s ease;
}
.faq__btn:hover {
  background-color: gray;
}

.faq__accordion input[type="radio"]:checked ~ .faq__content {
  max-height: 600px;
  padding: 30px 30px;
}

.faq__accordion input[type="radio"]:checked ~ .faq__btn::after {
  transform: rotate(45deg);
}

.faq__text {
  width: 100%;
  max-width: 1080px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.faq__text:first-child {
  padding-bottom: 15px;
}

.faq__lead-container {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 2.5rem 12%;
}

.faq__lead-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: left;
  color: rgba(255,255,255,0.7);
  width: 100%;
  max-width: 1080px;
  padding: 2.5rem 12%;
  font-size: 14px;
}

.footer a {
  color: rgba(255,255,255,0.7);

}

.footer__questions {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1080px;
  font-size: 18px;
  color: rgba(255,255,255,0.7);
  margin-bottom: 20px;
}

.footer__content {
  width: 100%;
  max-width: 1080px;
  margin: auto;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  margin: 20px 0;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__item {
  list-style: none;
  margin: 0;
  margin-bottom: 1.3rem;
  padding: 0;
}

.footer__link:hover {
  color: #fff;
}

.footer__link:active {
  color: #db0001;
}

.footer__lang-container {
  max-width: 150px;
  margin-bottom: 20px;
}